@import url(../fonts/font-awesome/css/font-awesome.min.css);
@import url(../fonts/SFUIText/stylesheet.css);
@import url(../fonts/Oswald-font/stylesheet.css);
@import url(../js/slick/slick.css);
@import url(../js/slick/slick-theme.css);
@import url(reset.css);

.clear:after,
.all:after {
    content: "";
    display: table;
    clear: both;
}

.clear:before,
.all:before {
    display: table;
    content: " ";
}

::-moz-selection {
    background: rgba(0, 187, 240, 0.5);
}

::selection {
    background: rgba(0, 187, 240, 0.5);
}

body {
    color: #111111;
    font-family: 'SF UI Text', sans-serif !important;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SF UI Text', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

    a:hover,
    a:focus {
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }

    a > img {
        display: block;
    }

ul {
    list-style: none;
}

.img {
    text-align: center;
}

img {
    max-width: 100%;
}

strong,
.bold {
    font-weight: bold;
}

.all {
    position: relative;
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
}

@media screen and (max-width: 1200px) {
    .all {
        width: 100%;
        padding: 0 15px;
    }
}

.center-txt {
    text-align: center;
    justify-content: center;
}

.left-txt {
    text-align: left;
}

.right-txt {
    text-align: right;
}

.f-control {
    font-family: inherit;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: solid 1px #e1e1e1;
    padding: 10px 15px;
    line-height: 20px;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .f-control:focus {
        border-color: rgba(0, 187, 240, 0.3);
    }

    .f-control.pill-control {
        border-radius: 20px;
        -webkit-border-radius: 20px;
    }

select.f-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    padding-right: 25px;
    padding-left: 15px;
    line-height: unset;
}

textarea.f-control {
    height: 100px;
    resize: none;
    padding: 10px 15px;
}

.mn-btn {
    border: none;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
    color: black;
    font-size: 13px;
    cursor: pointer;
}

    .mn-btn.btn-1 {
        display: inline-block;
        color: white;
        background-color: #00bbf0;
        padding: 15px 20px;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .mn-btn.btn-1:hover,
        .mn-btn.btn-1:focus {
            background-color: #0093bd;
        }

    .mn-btn.gg-btn {
        overflow: hidden;
        width: 200px;
        height: 45px;
        padding-left: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #FFCC00;
        position: relative;
    }

        .mn-btn.gg-btn:hover,
        .mn-btn.gg-btn:focus {
            background-color: #9e2016;
            color: white;
        }

        .mn-btn.gg-btn i {
            color: white;
            position: absolute;
            height: 100%;
            width: 45px;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .mn-btn.cc-btn {
        overflow: hidden;
        width: 200px;
        height: 45px;
        padding-left: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #008744;
        position: relative;
    }

        .mn-btn.cc-btn:hover,
        .mn-btn.cc-btn:focus {
            background-color: #00542a;
            color: white;
        }

        .mn-btn.cc-btn i {
            color: white;
            position: absolute;
            height: 100%;
            width: 45px;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .mn-btn.btn-right {
        display: inline-block;
        font-weight: 500;
        color: white;
        font-size: 14px;
    }

        .mn-btn.btn-right::after {
            font-style: initial;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: '\f0a9';
            float: right;
            padding-left: 5px;
            color: #FFCC00;
        }

        .mn-btn.btn-right:hover,
        .mn-btn.btn-right:focus {
            color: #0bc9ff;
        }

    .mn-btn:active {
        -webkit-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
        opacity: 0.9;
    }

.scroll-top-link {
    position: fixed;
    right: 15px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    background: #f8f8f8;
    border: 5px solid #00bbf0;
    color: #0093bd;
    transition: all 0.3s ease-in;
}

    .scroll-top-link:hover,
    .scroll-top-link:focus {
        border-color: transparent;
        background-color: #00bbf0;
        color: white;
    }

@media screen and (max-width: 650px) {
    .scroll-top-link {
        width: 35px;
        height: 35px;
        padding: 0;
    }

        .scroll-top-link > i {
            -webkit-transform: translate(0, -2px);
            -ms-transform: translate(0, -2px);
            transform: translate(0, -2px);
        }
}

.map {
    background: url(../js/slick/ajax-loader.gif) no-repeat center center/32px 32px;
    height: 480px;
}

.mn-content {
    font-size: 16px;
}

    .mn-content h1,
    .mn-content h2,
    .mn-content h3 {
        font-weight: 900;
        margin-bottom: 15px;
    }

    .mn-content h1 {
        line-height: 1.2;
        font-size: 35px;
    }

    .mn-content h2 {
        font-size: 28px;
    }

    .mn-content h3 {
        font-size: 26px;
    }

    .mn-content p {
        margin-bottom: 15px;
        line-height: 25px;
    }

    .mn-content img {
        height: auto;
        max-width: 100%;
    }

    .mn-content a:hover,
    .mn-content a:focus {
        color: #FFCC00;
        text-decoration: underline;
    }

@media screen and (max-width: 780px) {
    .mn-content h1 {
        font-size: 30px;
    }

    .mn-content h2 {
        font-size: 24px;
    }

    .mn-content h3 {
        font-size: 21px;
    }
}

.sec-title {
    color: #111111;
    margin-bottom: 30px;
}

    .sec-title h2 {
        font-size: 24px;
        font-family: "Oswald VNF", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

.black {
    color: black;
}

.color {
    color: #FFCC00;
}

.white {
    color: white;
}

/* HEADER */

#header .navbar-toggle {
    display: none;
    outline: none;
    float: right;
    position: relative;
    border: solid 1px transparent;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}

    #header .navbar-toggle .icon-bar {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        display: block;
        width: 27px;
        height: 3px;
        border-radius: 1px;
        background-color: white;
    }

        #header .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 5px;
        }

    #header .navbar-toggle.open .icon-bar:nth-child(1) {
        transform: translate(-1px, 7px) rotate(-225deg);
    }

    #header .navbar-toggle.open .icon-bar:nth-child(2) {
        opacity: 0;
    }

    #header .navbar-toggle.open .icon-bar:nth-child(3) {
        transform: translate(-1px, -9px) rotate(228deg);
    }

#header .has-dropdown {
    position: relative;
}

    #header .has-dropdown:hover .dropdown-menu,
    #header .has-dropdown:focus .dropdown-menu {
        display: block;
        -webkit-transform: perspective(1200px) rotateX(0deg);
        transform: perspective(1200px) rotateX(0deg);
    }

#header .nav-ul .dropdown-menu {
    min-width: 200px;
    position: absolute;
    z-index: 1;
    width: auto;
    top: 100%;
    left: 0;
    display: block;
    border-radius: 5px;
    background-color: #ea6156;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(1200px) rotateX(-90deg);
    transform: perspective(1200px) rotateX(-90deg);
    color: #fff;
}

    #header .nav-ul .dropdown-menu li {
        width: 100%;
        margin: 0;
    }

        #header .nav-ul .dropdown-menu li.current-menu-parent > a,
        #header .nav-ul .dropdown-menu li.current-menu-item > a {
            background-color: #FFCC00;
        }

        #header .nav-ul .dropdown-menu li:hover > a {
            color: white;
            background-color: #FFCC00;
        }

#header .nav-ul {
    list-style: none;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

    #header .nav-ul li {
        margin: 0 2px;
    }

        #header .nav-ul li:hover > a,
        #header .nav-ul li:focus > a,
        #header .nav-ul li.current > a {
            color: white;
            background-color: #FFCC00;
        }

        #header .nav-ul li.current-menu-parent > a,
        #header .nav-ul li.current-menu-item > a {
            background-color: #FFCC00;
            color: white;
        }

        #header .nav-ul li a {
            display: block;
            padding: 12px 15px;
            border-radius: 4px;
            color: white;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            position: relative;
            text-align: center;
        }

#header .hd-top {
    background-color: #00204a;
}

#header .hdt-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#header .hdt__left p {
    font-size: 13px;
    padding: 5px 0;
    padding-right: 15px;
    display: inline-block;
}

#header .hdt__right {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background-color: #00bbf0;
    white-space: nowrap;
}

    #header .hdt__right > div {
        padding: 0 5px;
    }

        #header .hdt__right > div > a:hover {
            text-decoration: underline;
        }

    #header .hdt__right .acc-info {
        position: relative;
    }

        #header .hdt__right .acc-info:hover .status,
        #header .hdt__right .acc-info:focus .status {
            display: block;
        }

#header .hdm-wrap .logo a {
    width: 100px;
    display: block;
}

#header .hdm-wrap .logo a img{
    width: 100%;    
}

#header .hd-main {
    background-color: #0a3769;
}

#header .hdm-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

    #header .hdm-wrap .logo {
        margin-right: 10px;
        flex-shrink: 0;
    }

        #header .hdm-wrap .logo .img {
            /* color: white; */
        }

@media screen and (max-width: 930px) {
    #header .navbar-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
    }

    #header .nav-wrap {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: unset;
        z-index: 10;
        display: block;
        transform: translate(-100%, 0);
        background-color: transparent;
    }

    #header .nav-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #header .nav-ul {
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
        padding: 5px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin: 0;
        padding-bottom: 2rem;
        float: left;
        width: 240px;
        position: relative;
        z-index: 1;
        height: 100%;
        background: white;
        overflow: auto;
    }

        #header .nav-ul li {
            display: block;
            float: none;
            color: #292725;
            width: 100%;
            margin: unset;
        }

            #header .nav-ul li > a {
                text-align: left;
                color: #292725;
                width: 100%;
                font-size: 13px;
                padding: 15px;
            }

            #header .nav-ul li:hover > a,
            #header .nav-ul li:focus > a,
            #header .nav-ul li.active #header .nav-ul li.current-menu-item > a,
            #header .nav-ul li.current-menu-parent > a {
                background-color: #FFCC00;
                color: white;
            }

            #header .nav-ul li.has-dropdown:hover > a {
                background-color: #FFCC00;
                color: white;
            }

            #header .nav-ul li.has-dropdown a::after {
                content: none;
            }

            #header .nav-ul li.has-dropdown .dropdown-menu {
                position: static;
                transform: none;
                background: transparent;
                padding-left: 15px;
                display: block;
                width: auto;
                min-width: unset;
                box-shadow: none;
                margin: 5px 0;
            }

                #header .nav-ul li.has-dropdown .dropdown-menu > li {
                    display: block;
                    list-style: none;
                }

                    #header .nav-ul li.has-dropdown .dropdown-menu > li > a {
                        font-size: 14px;
                        color: #292725;
                        padding: 10px 12px;
                    }

                        #header .nav-ul li.has-dropdown .dropdown-menu > li > a.current-menu-item,
                        #header .nav-ul li.has-dropdown .dropdown-menu > li:hover > a {
                            color: white;
                            background-color: #FFCC00;
                        }

    #header .open {
        z-index: 2;
    }

        #header .open + .nav-wrap {
            transform: translate(0, 0);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            #header .open + .nav-wrap .nav-overlay {
                opacity: 0.7;
            }
}

/* ========== */

.status {
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 9;
}

    .status:hover,
    .status:focus {
        display: block;
    }

    .status .status-wrap {
        position: relative;
        left: 0;
        top: 30px;
        width: 300px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
        color: black;
        background-color: white;
    }

    .status .status__header {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

        .status .status__header h4 {
            color: white;
            font-size: 24px;
            z-index: 1;
        }

        .status .status__header::before {
            content: '';
            bottom: 0;
            left: 0;
            background-image: url("../images/status-header-bg.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: calc(100% + 23px);
        }

    .status .status__body > *:not(.links) {
        padding: 10px 20px;
    }

    .status .status__body > div:nth-child(odd) {
        background-color: #f8f8f8;
    }

    .status .status__body .level__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .status .status__body .level__info .rank {
            font-weight: bold;
        }

    .status .status__body .level__process {
        background: #ebebeb;
        border-radius: 12px;
        height: 20px;
        width: 100%;
        padding: 2px;
        margin: 5px 0;
        overflow: hidden;
    }

        .status .status__body .level__process > span {
            display: block;
            height: 100%;
            max-width: 100%;
            border-radius: 9px;
            background-color: #3ab1c8;
            background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px);
            background-size: 50px 50px;
            background-position: 0 0;
            overflow: hidden;
            animation: move 4s linear infinite;
        }

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

.status .status__body .balance {
    display: flex;
    align-items: flex-start;
}

.status .status__body .balance__number {
    margin-left: 10px;
    font-weight: bold;
}

    .status .status__body .balance__number .vnd {
        color: #2772db;
    }

    .status .status__body .balance__number .cny {
        color: #3ab1c8;
    }

.status .status__body .links > a {
    padding: 10px 20px;
    display: block;
    text-align: start;
}

    .status .status__body .links > a i {
        float: right;
        line-height: 2;
        color: #2772db;
    }

    .status .status__body .links > a:hover {
        background-color: #2772db;
        color: white;
    }

        .status .status__body .links > a:hover > i {
            color: white;
        }

.status .status__footer .ft-btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: unset;
    background-color: #ec4126;
    color: white;
    text-align: center;
}

    .status .status__footer .ft-btn:hover {
        background-color: #cd2b12;
    }

@media screen and (max-width: 500px) {
    .status {
        right: unset;
        left: -60px;
    }

        .status .status__header {
            overflow: hidden;
        }
}

/* ====== */

/* MAIN */

.banner {
    position: relative;
}

    .banner .banner-slider {
        list-style: none;
        overflow: hidden;
    }

        .banner .banner-slider .banner__bg {
            height: 750px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

    .banner .banner__title {
        position: absolute;
        top: 50%;
        right: 15px;
        left: calc(50vw - 585px);
        transform: translateY(-50%);
    }

@media screen and (max-width: 1200px) {
    .banner .banner__title {
        left: 15px;
    }
}

.banner .banner__title .title {
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    margin-bottom: 25px;
}

    .banner .banner__title .title .sub-hd {
        color: #00bbf0;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-weight: bold;
    }

.banner .banner__title .search {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}

.banner .banner__title .s_select {
    position: relative;
    width: 200px;
}

    .banner .banner__title .s_select .f-control {
        background-color: #0a3769;
        color: white;
        height: 45px;
        padding: 0 20px;
        border: unset;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .banner .banner__title .s_select .icon {
        position: absolute;
        top: 50%;
        right: 17px;
        transform: translateY(-50%);
        color: white;
        font-size: 16px;
        pointer-events: none;
    }

.banner .banner__title .s_input {
    position: relative;
    width: calc(100% - 200px);
    max-width: 600px;
}

    .banner .banner__title .s_input .f-control {
        padding: 0 20px;
        padding-right: 45px;
        height: 45px;
        font-size: 15px;
    }

    .banner .banner__title .s_input .s-button {
        position: absolute;
        top: 0;
        right: 0;
    }

        .banner .banner__title .s_input .s-button .mn-btn {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #c28b39;
            font-size: 20px;
            border-radius: unset;
        }

            .banner .banner__title .s_input .s-button .mn-btn:hover {
                color: white;
                background-color: #c28b39;
            }

.banner .banner__title .button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .banner .banner__title .button .mn-btn {
        margin-right: 12px;
    }

.banner .banner__title .slick-button {
    margin-top: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

    .banner .banner__title .slick-button .s-btn {
        font-size: 35px;
        cursor: pointer;
    }

        .banner .banner__title .slick-button .s-btn.prev {
            margin-right: 20px;
        }

        .banner .banner__title .slick-button .s-btn.next {
            margin-left: 20px;
        }

        .banner .banner__title .slick-button .s-btn:hover {
            color: #FFCC00;
        }

    .banner .banner__title .slick-button .current-num {
        color: #FFCC00;
    }

.features .list-feats {
    list-style: none;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.features .feat__item {
    text-align: center;
    width: 33.33%;
}

    .features .feat__item .img {
        position: relative;
    }

        .features .feat__item .img img {
            max-height: 430px;
            display: block;
            width: 100%;
            object-fit: cover;
        }

    .features .feat__item .content {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        min-width: 300px;
        padding: 25px;
        text-align: left;
        color: white;
        background-color: rgba(0, 32, 74, 0.8);
    }

        .features .feat__item .content .hd {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 10px;
        }

@media screen and (max-width: 1100px) {
    .features .feat__item {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {
    .features .feat__item {
        width: 100%;
    }
}

.steps-order {
    padding: 80px 0;
}

    .steps-order .list-steps {
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
        position: relative;
        z-index: 1;
    }

        .steps-order .list-steps::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -70px;
            border-bottom: 2px dotted #e1e1e1;
            width: calc(100% + 140px);
            z-index: -1;
        }

@media screen and (max-width: 1340px) {
    .steps-order .list-steps {
        overflow: hidden;
    }
}

.steps-order .step__item {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 16.66%;
}

    .steps-order .step__item.active .it-wrap {
        color: white;
        background-color: #00204a;
    }

    .steps-order .step__item .it-wrap {
        cursor: pointer;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 2px dotted #e1e1e1;
        background-color: #fff;
        margin: 0 auto;
        overflow: hidden;
    }

        .steps-order .step__item .it-wrap:hover {
            color: #FFCC00;
        }

    .steps-order .step__item .icon {
        margin: 0 auto;
        color: #00bbf0;
        font-size: 30px;
        margin-top: 40px;
    }

    .steps-order .step__item .hd {
        line-height: 24px;
        font-weight: 600;
        padding: 0 15px;
    }

.steps-order .step-content {
    display: flex;
    flex-wrap: wrap;
}

    .steps-order .step-content .detail {
        display: inline-block;
        vertical-align: middle;
        width: calc(50% - 3px);
        padding-right: 30px;
    }

        .steps-order .step-content .detail .hd {
            font-size: 24px;
            margin-bottom: 25px;
            text-transform: uppercase;
        }

        .steps-order .step-content .detail p {
            margin-bottom: 25px;
            color: #707070;
        }

    .steps-order .step-content .img {
        display: inline-block;
        vertical-align: middle;
        width: calc(50% - 3px);
    }

        .steps-order .step-content .img img {
            box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, 0.3);
            margin: 0 auto;
        }

@media screen and (max-width: 780px) {
    .steps-order .step-content .detail {
        width: 100%;
        padding-right: unset;
    }

        .steps-order .step-content .detail .hd {
            text-align: center;
        }

        .steps-order .step-content .detail .button {
            text-align: center;
        }

    .steps-order .step-content .img {
        width: 100%;
        margin-bottom: 30px;
        order: -1;
    }
}

@media screen and (max-width: 1100px) {
    .steps-order {
        padding: 40px 0;
    }

        .steps-order .list-steps {
            justify-content: space-evenly;
            margin-bottom: 20px;
        }

            .steps-order .list-steps::before {
                content: none;
            }

        .steps-order .step__item {
            width: 33.33%;
            margin-bottom: 10px;
            position: relative;
            z-index: 1;
        }

            .steps-order .step__item::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                border-bottom: 2px dotted #e1e1e1;
                width: 100%;
                z-index: -1;
            }

            .steps-order .step__item .it-wrap {
                width: 150px;
                height: 150px;
            }

            .steps-order .step__item .icon {
                margin-top: 25px;
            }
}

@media screen and (max-width: 500px) {
    .steps-order .step__item .it-wrap {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .steps-order .step__item .hd {
        display: none;
        margin-top: unset;
    }

    .steps-order .step__item .icon {
        margin-top: unset;
    }
}

.benefits {
    background-image: url("../images/benefits-bg.jpg");
    padding: 80px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    .benefits .title {
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size: 24px;
    }

    .benefits .list-benefits {
        list-style: none;
        margin: 0 -15px;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .benefits .benefit__item {
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        padding: 0 15px;
    }

        .benefits .benefit__item .img {
            margin-bottom: 20px;
        }

            .benefits .benefit__item .img img {
                width: 100%;
                object-fit: cover;
            }

        .benefits .benefit__item .content .hd {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            color: #111111;
        }

            .benefits .benefit__item .content .hd a:hover {
                text-decoration: underline;
                color: #0a3769;
            }

        .benefits .benefit__item .content p {
            margin-bottom: 20px;
            color: #707070;
        }

        .benefits .benefit__item .content .mn-btn {
            color: #111111;
        }

            .benefits .benefit__item .content .mn-btn:hover {
                color: #FFCC00;
            }

@media screen and (max-width: 780px) {
    .benefits {
        padding: 50px 0;
        padding-bottom: 20px;
    }

        .benefits .benefit__item {
            width: 50%;
            margin-bottom: 30px;
        }
}

@media screen and (max-width: 600px) {
    .benefits .benefit__item {
        width: 100%;
    }
}

.present {
    color: white;
    background-color: #00204a;
    padding: 80px 0;
}

    .present .ps__child {
        float: left;
        width: 33.33%;
        padding-right: 30px;
    }

        .present .ps__child .hd {
            font-size: 72px;
            color: #00bbf0;
            line-height: 1.2;
        }

        .present .ps__child p {
            font-size: 18px;
            padding: 0 2px;
        }

@media screen and (max-width: 780px) {
    .present {
        padding: 40px 0;
    }

        .present .ps__child {
            width: 100%;
            float: unset;
            padding-right: unset;
            text-align: center;
        }

            .present .ps__child:not(:last-child) {
                margin-bottom: 30px;
            }

            .present .ps__child .hd {
                font-size: 46px;
            }
}

.contact {
    display: flex;
    align-items: stretch;
}

    .contact .ct-box {
        width: 40vw;
        padding: 80px 70px;
        padding-left: calc(50vw - 585px);
        background-color: #fff;
    }

        .contact .ct-box .title {
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 24px;
        }

@media screen and (max-width: 1200px) {
    .contact .ct-box {
        padding-left: 15px;
    }
}

.contact .ct-box .detail:not(:last-child) {
    margin-bottom: 30px;
}

.contact .ct-box .sub {
    font-size: 14px;
    color: #707070;
}

.contact .ct-box .main {
    font-size: 24px;
    color: #111111;
}

.contact .ct-box a:hover {
    color: #FFCC00;
}

.contact .google-map {
    width: 60vw;
}

@media screen and (max-width: 930px) {
    .contact {
        display: block;
    }

        .contact .ct-box,
        .contact .google-map {
            width: 100%;
        }

        .contact .ct-box {
            padding: 30px 15px;
            word-break: break-word;
        }

        .contact .map {
            height: 340px;
        }
}

@media screen and (max-width: 500px) {
    .contact .ct-box .title {
        margin-bottom: 15px;
    }

    .contact .ct-box .detail:not(:last-child) {
        margin-bottom: 15px;
    }

    .contact .ct-box .main {
        font-size: 20px;
    }
}

/* ====== */

/* FOOTER */

#footer {
    background-color: #00204a;
    color: white;
}

    #footer .all {
        display: flex;
        flex-wrap: wrap;
    }
    /* @media screen and (max-width: 576px) {
  #footer .all {
    display: block;
  }
} */
    #footer .ft-infos {
        padding: 70px 0;
    }

        #footer .ft-infos .info__child .logo {
            /* display: inline-block;
  vertical-align: top;
  width: calc(25% - 1px);
  padding: 0 15px; */
            width: 150px;
        }

@media screen and (max-width: 576px) {
    #footer .ft-infos .info__child .logo {
        width: 100% !important;
    }
}

#footer .ft-infos .info__child {
    width: 20%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    #footer .ft-infos .info__child {
        width: 25%;
    }
}

@media screen and (max-width: 576px) {
    #footer .ft-infos .info__child {
        width: 50%;
    }
}

#footer .ft-infos .title {
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#footer .ft-infos .list-nav {
    list-style: none;
}

    #footer .ft-infos .list-nav li {
        margin-bottom: 15px;
    }

        #footer .ft-infos .list-nav li a:hover {
            text-decoration: underline;
        }

#footer .ft-infos .social-icon {
    margin: 0 -5px;
}

    #footer .ft-infos .social-icon a {
        display: inline-block;
        padding: 5px;
    }

        #footer .ft-infos .social-icon a:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

#footer .ft-sys {
    color: white;
    background-color: #00bbf0;
    line-height: 20px;
    padding: 10px 0;
}

    #footer .ft-sys .sys-ct {
        padding: 10px 0;
    }

    #footer .ft-sys a img {
        display: initial;
    }

/* ====== */

/*# sourceMappingURL=style.css.map */
.service-page-section {
    padding: 70px 0 80px;
}

    .service-page-section .left {
        width: calc(100% / 12 * 4);
        padding-right: 30px;
    }

    .service-page-section .right {
        width: calc(100% / 12 * 8);
        padding-left: 50px;
    }

@media screen and (max-width: 768px) {
    .service-page-section .left {
        width: 100%;
        padding-right: 15px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .service-page-section .right {
        width: 100%;
        margin-bottom: 50px;
    }
}

.sidebar .sidebar-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.sidebar + .sidebar {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .sidebar .sidebar-title {
        margin-bottom: 15px;
    }
}

.sidebar-list-item {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}

.sidebar-item .sidebar-item-title {
    color: #29aae1;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}

.sidebar-item + .sidebar-item {
    margin-top: 25px;
}

.sidebar-item .sidebar-item-nav {
    list-style-type: none;
    font-size: 15px;
}

    .sidebar-item .sidebar-item-nav li a {
        display: block;
        padding: 3px 0px 3px 20px;
        position: relative;
        -webkit-transition: .2s;
        transition: .2s;
    }

        .sidebar-item .sidebar-item-nav li a:hover {
            color: #29aae1;
        }

        .sidebar-item .sidebar-item-nav li a::before {
            content: '\f105';
            font-family: FontAweSome;
            color: #29aae1;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 16px;
            -webkit-transition: .3s;
            transition: .3s;
        }

    .sidebar-item .sidebar-item-nav li:hover a::before {
        left: 5px;
    }

.service-intro {
    font-weight: bold;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
}

.guide-list .column {
    width: calc(100% / 3);
    margin-bottom: 20px;
    min-height: 300px;
    max-height: 300px;
}

@media screen and (max-width: 500px) {
    .guide-list .column {
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    .guide-list .column {
        width: 100%;
    }
}

.guide-item {
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

    .guide-item .box-img {
        padding-top: 50%;
    }

    .guide-item .box-content {
        padding: 12px 10px 10px;
    }

        .guide-item .box-content .title {
            text-transform: uppercase;
            padding-top: 10px;
            font-weight: bold;
            margin-bottom: 15px;
            position: relative;
            -webkit-transition: .2s;
            transition: .2s;
        }

            .guide-item .box-content .title::after {
                content: '';
                width: 30px;
                border-bottom: 3px solid #29aae1;
                position: absolute;
                top: 0;
                left: 0;
            }

    .guide-item:hover .box-img img {
        -webkit-transform: translate(-50%, -50%) scale(1.05);
        transform: translate(-50%, -50%) scale(1.05);
    }

    .guide-item:hover .box-content .title {
        color: #29aae1;
    }

.breadcrumb {
    background-color: #f2f2f2;
    padding: 30px 0 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

    .breadcrumb ul {
        list-style-type: none;
    }

        .breadcrumb ul li {
            display: inline-block;
        }

.detail-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-title2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #78b20c;
}

.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -15px;
}

.column {
    padding: 10px;
}

.ratio-box {
    display: block;
    position: relative;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    background-color: #f6f6f6;
}

    .ratio-box img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }

.breadcrumb {
    background-color: #ccc;
    padding: 20px 0 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    list-style-type: none;
}

    .breadcrumb li {
        display: inline-block;
    }

.guide-list {
    padding-top: 22px;
}

.breadcrumb li + li::before {
    padding: 0 4px;
    content: "/\00a0";
}

.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
}

.guide-item .box-content {
    padding: 10px 10px 10px;
}

    .guide-item .box-content .title {
        margin-bottom: 10px;
    }

    .guide-item .box-content .desc {
        font-size: 14px;
    }

.service-page-section .left {
    margin-top: -10px;
}

.service-page-section {
    background: #e8e8e8;
}

.sidebar-item .sidebar-item-title {
    font-size: 18px;
}

.main-title-hy {
    font-size: 30px;
    margin-top: 20px;
}

.service-page-section .right {
    background: #fff;
    padding: 20px 20px 30px 20px;
}

.main-title-2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.main-content td {
    border: 1px solid black;
    vertical-align: middle;
    font-size: 13px;
}

.hdt__right .acc-info {
    position: relative;
}

.hdt__right .acc-info:hover .acc-info-btn {
    color: #FFCC00;
}

    .hdt__right .acc-info:hover .status-desktop {
        display: block;
    }

    .hdt__right .acc-info .acc-info-btn {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        display: inline-block;
        white-space: nowrap;
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }

        .hdt__right .acc-info .acc-info-btn .icon {
            margin-right: 5px;
        }

@media screen and (max-width: 1024.1px) {
    .hdt__right .acc-info:hover .status-desktop,
    .hdt__right .acc-info:focus .status-desktop {
        display: none;
    }
}

.status-desktop {
    display: none;
    position: absolute;
    top: 99%;
    right: -20px;
    z-index: 99;
    width: 300px;
    font-size: 13px;
    font-weight: 500;
    color: #000;
}

    .status-desktop .status-wrap {
        position: relative;
        left: 0;
        top: 30px;
        width: 300px;
        line-height: 30px;
        background-color: white;
    }

    .status-desktop .status__header {
        height: 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }

        .status-desktop .status__header::before {
            content: "";
            bottom: 0;
            left: 0;
            background-repeat: no-repeat;
            background-image: url(../images/status-header-bg.png);
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: calc(100% + 23px);
        }

        .status-desktop .status__header h4 {
            color: white;
            font-size: 24px;
            z-index: 1;
        }

    .status-desktop .status__body > *:not(.links) {
        padding: 10px 20px;
    }

    .status-desktop .status__body > div:nth-child(odd) {
        background-color: #f8f8f8;
    }

    .status-desktop .status__body .level__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

        .status-desktop .status__body .level__info .rank {
            font-weight: bold;
        }

    .status-desktop .status__body .level__process {
        background: #ebebeb;
        border-radius: 12px;
        height: 20px;
        width: 100%;
        padding: 2px;
        margin: 5px 0;
        overflow: hidden;
    }

        .status-desktop .status__body .level__process span {
            display: block;
            height: 100%;
            max-width: 100%;
            border-radius: 9px;
            background-color: #0a3769;
            background-image: -webkit-repeating-linear-gradient( 135deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px );
            background-image: repeating-linear-gradient( -45deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px );
            background-size: 50px 50px;
            background-position: 0 0;
            overflow: hidden;
            -webkit-animation: move 4s linear infinite;
            animation: move 4s linear infinite;
        }

    .status-desktop .status__body .balance {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .status-desktop .status__body .balance__number {
        margin-left: 10px;
        font-weight: bold;
    }

        .status-desktop .status__body .balance__number .vnd {
            color: #0a3769;
            text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
        }

    .status-desktop .status__body .links > a {
        padding: 10px 20px;
        display: block;
        text-align: start;
    }

        .status-desktop .status__body .links > a i {
            float: right;
            line-height: 2;
            color: #FFCC00;
        }

        .status-desktop .status__body .links > a:hover {
            color: #FFCC00;
        }

    .status-desktop .status__footer .ft-btn {
        font-size: 13px;
        display: block;
        width: 100%;
        padding: 10px 0;
        border-radius: unset;
        background-color: #0a3769;
        color: white;
        text-align: center;
    }

.status-mobile {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    right: -250px;
    padding: 20px 10px 10px 10px;
    overflow-y: auto;
    max-width: 250px;
    width: 100%;
    -webkit-box-shadow: -2px 0px 2px #00000045;
    box-shadow: -2px 0px 2px #00000045;
    z-index: 9999;
    background-color: #fff;
    color: #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 500;
}

    .status-mobile.open {
        right: 0;
    }

    .status-mobile .username {
        color: #0a3769;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;
    }

    .status-mobile .user-menu-logo {
        margin-bottom: 15px;
        display: block;
        text-align: center;
    }

        .status-mobile .user-menu-logo img {
            max-height: 50px;
            margin: auto;
        }

    .status-mobile .user-info {
        margin-bottom: 15px;
        text-align: center;
    }

        .status-mobile .user-info .money {
            color: #0a3769;
        }

        .status-mobile .user-info .vip {
            text-transform: uppercase;
            color: #0a3769;
            font-weight: bold;
        }

    .status-mobile .nav-percent {
        width: 100%;
        min-height: 8px;
        border-radius: 8px;
        background-color: #e1e1e1;
        position: relative;
        margin-bottom: 15px;
    }

    .status-mobile .nav-percent-ok {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #0a3769;
        border-radius: 8px;
    }

    .status-mobile .menu-in-profile {
        list-style-type: none;
        margin-bottom: 15px;
    }

        .status-mobile .menu-in-profile > li:not(:last-child) {
            border-bottom: 1px solid #595959;
        }

        .status-mobile .menu-in-profile > li > a {
            padding: 15px 0;
            display: block;
            text-align: left;
            text-transform: uppercase;
        }

            .status-mobile .menu-in-profile > li > a > i {
                margin-right: 10px;
                color: #0a3769;
                font-size: 18px;
                width: 20px;
            }

    .status-mobile .main-btn {
        display: block;
        font-size: inherit;
    }

@media screen and (max-width: 1024.1px) {
    .status-mobile {
        display: block;
    }
}

.overlay-status-mobile {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    display: none;
    z-index: 9998;
}

.service-page-section.sec .price-section table tbody tr td {
    border: 1px solid black;
}